@model List<Album.BusinessLogic.Model.AlbumDto>

@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("TracksAlbum", "Albums", FormMethod.Post))
{
    <div class="container">
        <div class="col-md-12">
            <div>
                <h2 class="centreContent">Album List Table</h2>
            </div>

            <div class="row">
                <br />
                <div style="height:200px;overflow-y:hidden">
                    <table class="table table-bordered">
                        <tr>
                            <th>Album Id</th>
                            <th>
                                Album Name
                            </th>
                            <th>Select</th>
                        </tr>

                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>                                    
                                    @Html.DisplayFor(m => Model[i].AlbumId)
                                </td>
                                <td>
                                    @Html.ActionLink(Model[i].AlbumName
                                                    ,"UpdateAlbumData"
                                                    ,"Albums"
                                                    ,new {albumid = Model[i].AlbumId,albumName=Model[i].AlbumName },null)
                                </td>
                                <td>
                                    @Html.HiddenFor(m => Model[i].AlbumId)
                                    @Html.CheckBoxFor(m=> Model[i].IsChecked)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="submit" class="btn btn-warning">View Selected TrackList</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    

</script>
